<a href="https://colab.research.google.com/github/cortezalvarezitzel-beep/Tareas-de-programaci-n/blob/main/Clase_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**#Tipos de datos**

Python ha evolucionado para ofreces poderosos tipos de datos que lo diferencian de otros lenguajes de programación por su sencillez y flexibilidad.
Aún cuando Python cuenta con una amplia bibliotexa que incluye muy diversos tipos de datos, ofrece ciertos tipos básicos.

# Particularidades los tipos de datos en Python.
**Tipos dinámicos.**

Python es un lenguaje que no requiere que se defin el tipo de un objeto. El intérprete "infiere" el tipo de dato que se trata.

**Fuertemente tipado.**

Existen operaciones que no están permitidas entre tipos que no sean compatibles.

**Los tipos son clases.**

En Python todos sus elementos son objetos y los datos una vez identificados, se convierten en objetos instanciaados del tipo al que pertenecen.

**Tabla de tipos de datos básicos de Python 3.**

La siguiente tabla resume y describe los tipos de datos básicos de Python 3.

Así se define al número 24 en sistema decimal

In [1]:
24

24

In [2]:
0b10001011

139

La siguiente celda define al número 1522 en formato, hexadecimal.

In [3]:
0x5f2

1522

La siguiente celda define al número 159 en forma octal.

In [4]:
0o237

159

**Números de punto flotante (float).**

Los objetos tipo float corresponden al conjunto de los números reales.

**Ejemplos:**

3.141595

12.

-45.3556

**Precisión de los números flotantes.**

Hay que tomar en cuenta de que la precisión de los números dependen en gran medida de la capacidad del equipo de cómputo, por lo que en ocasiones una operación con números de tipo float no dará el resultado exacto, sino una aproximación.

#Ejemplo:
La siguiente expresión da por resultado un número racional que corresponde a una suceción infinita del dígito 6 después del punto decimal.

In [5]:
2/3

0.6666666666666666

En este caso, es imposible para Python calcular una sucesión infinita de 6 y por ende truncó el número a 16 decimales.

**Números complejos (complex).**

Los objetos de tipo complex corresponden al conjunto de los números complejos.

Siempre que el componente en los números reales sea distinto de 0, los objetos de tipo complex se expresarán como un par de números de tipo float separados por el operador de adición +, en el que el primer número corresponde al componente en los número reales y el componente en los números imaginarios es identificado añadiéndole la letra j al final.

La sintaxis estricta es la siguiente:

Cuando el componente imagionario es positivo. `(<real>+<imaginario>j)`

Cuando el componente imaginario es negativo. `(<real>-<imaginario>j)`

Cuando el componente real es igual a 0. `<imaginario>j`

**Ejemplos:**

La siguiente celda muestra la forma estricta en la que se define un objeto tipo **complex.**

In [6]:
(2+5j)

(2+5j)

Las siguientes expresiones implican operaciones aritméticas con números imaginarios, las cuales dan por resultado objetos tipo complex.

In [7]:
1.323 - 1j

(1.323-1j)

In [8]:
-2.9j - 23.03

(-23.03-2.9j)

In [9]:
12.4 + 0j

(12.4+0j)

En caso de que sólo se defina el componente imaginario, el resultado sólo será este componente.

In [10]:
15j

15j

**Valores booleanos (bool).**

El tipo bool es una especie de tipo numérico que es utilizado para evaluar expresiones lógicas y tiene dos valores: **True** y **False.**

- Si la expresión lógica es cierta, el resultado es True.
- Si la expresión lógica NO es cierta, el resultado es False. El tipo bool es una especie de tipo numérico.
- False equivale numéricamente a **0**.
- Cualquier otro valor no vacío equivale a True y su valor por defecto es **1**.

In [11]:
True

True

In [12]:
False

False

**NoneType.**

El único objeto de este tipo es None y representa un valor nulo.

Una expresión que dé por resultado None no es desplegado por el intérprete.

Ejemplo: **texto en negrita**

La siguiente celda incluye al objeto None, pero al ejecutarla, no se despliega nada.

In [13]:
None